:root {
  --text-color: rgb(255, 184, 53);
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

body {
  background-color: black;
  color: var(--text-color);
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2.5rem 1fr;
  max-width: 50%;
}

.tab-selector {
  height: 2rem;
  width: 4rem;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.selected {
  background-color: white;
  color: red;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
  padding: 2rem;
  grid-column: 1 / -1;
}

.tab-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
